arrow==1.2.1
attrs==21.2.0
beautifulsoup4==4.10.0
black==21.12b0
bravado-core==5.17.0
click==8.0.3
coverage==6.2
fqdn==1.5.1
hupper==1.10.3
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
isoduration==20.11.0
jsonpointer==2.2
jsonref==0.2
jsonschema==4.2.1
Mako==1.1.6
MarkupSafe==2.0.1
msgpack==1.0.3
mypy-extensions==0.4.3
packaging==21.3
PasteDeploy==2.1.1
pathspec==0.9.0
plaster==1.0
plaster-pastedeploy==0.7
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
Pygments==2.10.0
pyparsing==3.0.6
pyramid==2.0
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-swagger==2.7.0
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
repoze.lru==0.7
rfc3339-validator==0.1.4
rfc3987==1.3.8
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
swagger-spec-validator==2.7.4
toml==0.10.2
tomli==1.2.3
translationstring==1.4
typing_extensions==4.0.1
uri-template==1.1.0
venusian==3.0.0
waitress==2.1.2
webcolors==1.11.1
WebOb==1.8.7
WebTest==3.0.0
zipp==3.6.0
zope.deprecation==4.4.0
zope.interface==5.4.0
